services:
  postgres_database:
    image: postgres:17-alpine
    container_name: rda-postgres-database
    restart: unless-stopped
    ports:
      - "${DATABASE_PORT}:5432"
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    # shmem_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_DB: ${DATABASE_NAME}